/* ELEMENTS */
li {
    display: flex;
    justify-content: space-between;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    margin-left: 10px;
}

ul{
    display: flex;
    flex-direction: column;
}
/* Classes */
.container{
    justify-content: center;
    display: flex;
    margin-top: 10px;
}
.hidden{
    display: none;
    width: 130px;
}
.overline{
    text-decoration: line-through;
    color: grey;
}
.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #8e8e8e;
}

/* ID */
#list-container {
    margin: 10px;
    padding: 0;
}

#main-button {
    margin: auto;
    display: flex;
    margin-top: 10px;
}